#header .header-nav #callme-link {
    margin-top: .9375rem
}

#header .header-nav #_desktop_contact_link {
    float: left;
}

#header .header-nav #_desktop_callme_link {
    float: left;
    margin-left: .5rem;
}

.callme-support-img {
    width: 100%;
}